<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14D136</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIconFile</key>
	<string>ForkLetStarter</string>
	<key>CFBundleIdentifier</key>
	<string>com.binarynights.ForkLetStarter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>678</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6D2105</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13F34</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0632</string>
	<key>DTXcodeBuild</key>
	<string>6D2105</string>
	<key>ForkLiftPath</key>
	<string>/Users/stevenjames/Documents/Vuze Downloads/ForkLift 2.6.5/ForkLift.app</string>
	<key>ForkletSettings</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGgYJYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGgcIIyQlJicoKSorLC0uL1NUVVtcY2d4eXqAVSRudWxs0wkKCwwXIldOUy5r
	ZXlzWk5TLm9iamVjdHNWJGNsYXNzqg0ODxAREhMUFRaAAoADgASABYAGgAeACIAJgAqA
	C6oYGRoYGBgeHxgYgAyADYAOgAyADIAMgBWAGYAMgAyAE1hBZGRJdGVtc1pUaW1lT2Zm
	c2V0XlNvdXJjZUZhdm9yaXRlXVN5bmNJbnZpc2libGVbRGVsZXRlSXRlbXNbU3luY0Zv
	bGRlcnNeVGFyZ2V0RmF2b3JpdGVaVXBkYXRlTW9kZVtVcGRhdGVJdGVtc18QE0RldGVy
	bWluZVRpbWVPZmZzZXQJEADfEBMwMTIzNDU2Nzg5Ojs8PT4/C0BBQkNDRUNHSEMuSkND
	Qy5DQ1BDQ1R1dWlkXWxlZnRGYXZvcml0ZXNZdm9sdW1lVVJMW2Fza1Bhc3N3b3JkV2Jh
	c2VVcmxYdXNlckRhdGFUcGF0aFRob3N0VHR5cGVec3RyaW5nRW5jb2Rpbmdda2V5RXF1
	aXZhbGVudFlsb2NhbFBhdGhYdXNlcm5hbWVfEBVrZXlFcXVpdmFsZW50TW9kaWZpZXJT
	dXJsXnJpZ2h0RmF2b3JpdGVzVG5hbWVUcG9ydIAPgACAAAiAAIARgBCAABAFgACAAIAA
	gACAAIAUgACAAF8QJEE5MTMyM0M1LUIwRjMtNDhGMi1BQjJBLUZFQkIwODhDOTc1Ml8Q
	Ky9Vc2Vycy9zdGV2ZW5qYW1lcy9BcHBsaWNhdGlvbnMgKFBhcmFsbGVscynTCQoLVlgi
	oVeAEqEYgAyAE1twYXNzaXZlTW9kZdJdXl9gWiRjbGFzc25hbWVYJGNsYXNzZXNfEBNO
	U011dGFibGVEaWN0aW9uYXJ5o19hYlxOU0RpY3Rpb25hcnlYTlNPYmplY3TSXV5kZVpC
	TkZhdm9yaXRlomZiWkJORmF2b3JpdGXfEBMwMTIzNDU2Nzg5Ojs8PT4/C0BBaENDRUNt
	bkMuSkNDQy5DQ1BDQ4AWgACAAAiAAIAYgBeAAIAAgACAAIAAgACAFIAAgABfECQxNTIw
	Q0I4Mi0wMkI3LTQ5OEMtQUFCMy1BQzVFRTlBNkRCREFfEBAvVm9sdW1lcy9MVUJVTlRV
	0wkKC3t9IqFXgBKhGIAMgBMQAl8QD05TS2V5ZWRBcmNoaXZlctGDhFRyb290gAEACAAR
	ABoAIwAtADIANwBUAFoAYQBpAHQAewCGAIgAigCMAI4AkACSAJQAlgCYAJoApQCnAKkA
	qwCtAK8AsQCzALUAtwC5ALsAxADPAN4A7AD4AQQBEwEeASoBQAFBAUMBbAFxAX8BiQGV
	AZ0BpgGrAbABtQHEAdIB3AHlAf0CAQIQAhUCGgIcAh4CIAIhAiMCJQInAikCKwItAi8C
	MQIzAjUCNwI5AjsCYgKQApcCmQKbAp0CnwKhAq0CsgK9AsYC3ALgAu0C9gL7AwYDCQMU
	Az0DPwNBA0MDRANGA0gDSgNMA04DUANSA1QDVgNYA1oDXAODA5YDnQOfA6EDowOlA6cD
	qQO7A74DwwAAAAAAAAIBAAAAAAAAAIUAAAAAAAAAAAAAAAAAAAPF
	</data>
	<key>ForkletType</key>
	<string>Synclet</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>ForkLetStarter</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
